@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body {
  font-family: 'Droid Serif';
  font-size: 20px;
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom: 10;
}
h1 { font-size: 4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.6em; }
.headernote {
  position: absolute;
  top: 3em;
  left:50%;
  margin-left:-230px; /* FIXME, specific to screen? */
}
.footnote {
  position: absolute;
  bottom: 3em;
}
li p { line-height: 1.25em; }
.red { color: #fa0000; }
.large { font-size: 2em; }
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
code {
  -moz-border-radius: 5px;
  -web-border-radius: 5px;
  background: #e7e8e2;
  border-radius: 5px;
  font-size: 16px;
}
#slideshow .slide .content code {
  font-size: 0.8em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
.inverse {
  background: #272822;
  color: #FFF8DC;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
  color: #DEB887;
  line-height: 0.8em;
}

/* Slide-specific styling */
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
  .left-column h2:last-of-type, .left-column h3:last-child {
    color: #000;
  }
  .left-column ul {
    list-style: none;
  }
  /*
  .left-column li:nth-of-type(3) {
    color: #4D4D4D;
  }
  */
.right-column {
  height: 100%;
  width: 75%;
  float: right;
  padding-top: 2em;
}
.right-column .center-height {
  margin-top: 100px;
}
.inverse ul
{
  list-style-type: none;
}
img[alt=resized] {
  width: 400px;
  height: 400px;
}
img[alt=threads_mutex] {
  margin-top:100px;
  width: 600px;
  height: 200px;
}
 img[alt=stm] {
  width: 600px;
  height: 500px;
}

img[alt=math] {
  width: 700px;
  height: 720px;
}
img[alt=csp] {
  width: 200px;
  height: 180px;
}

/* comparison table */
.tftable {font-size:12px;
  color:#333333;
  width:100%;
  border-width:
  1px;
  border-color: #729ea5;
  border-collapse: collapse;
}
.tftable th {
  font-size:12px;
  background-color:#acc8cc;
  border-width: 1px;

  padding: 8px;
  border-style: solid;
  border-color: #729ea5;
  text-align:left;
}
.tftable tr {
  background-color:#ffffff;

}
.tftable td {
  font-size:12px;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #729ea5;

}
.tftable tr:hover {background-color:#ffff99;
}

sup {
  font-size:small;
  vertical-align:super;
}
.notes sup {
  font-size:xx-small;
  vertical-align:super;
}

.underline {
  margin-top: 30px;
  text-decoration:underline;
}
